services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - '5672:5672'
      - '15672:15672'

  postgres:
    image: postgres:16
    restart: always
    shm_size: 128mb # Set shared memory limit
    environment:
      POSTGRES_PASSWORD: password123! # Required environment variable
      POSTGRES_USER:  root # Optional, default is 'postgres'
      POSTGRES_DB: news_app # Optional, default is the user's name
    volumes:
      - postgres_data:/var/lib/postgresql/data # Mount a named volume for persistence
    ports:
      - "5433:5432" # Map container port 5433 to host port 5432

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.21
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9200 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
      target: development
    container_name: news_api
    command: npm run start:dev api
    depends_on:
      - postgres
      - rabbitmq
      - elasticsearch
    env_file:
      - ./.env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"

  worker:
    build:
      context: .
      dockerfile: ./apps/worker/Dockerfile
      target: development
    container_name: news_worker
    command: npm run start:dev worker
    depends_on:
      - postgres
      - rabbitmq
      - elasticsearch
    env_file:
      - ./.env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  postgres_data:
  es_data: